.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #303134;
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1000;

  .name-container {
    width: 50%;

    li {
      color: #fff;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        transform: translateX(20px);
        color: #ffa201;
      }
    }
  }

  .links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

    li {
      color: #fff;
      transition: all 0.2s ease-in;
  
      &:hover {
        transform: scale(1.3);
        color: #ffa201;
      }
    }
  }
}