main {
  margin-top: 10%;
  padding: 2%;
  height: 100vh;
  color: #fff;
  display: flex;

  .summary {
    color: rgb(161 161 170);
    width: 90%;
    padding: 1%;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 30px;
  }

  .contacts {
    margin-top: 2%;
  }

  .contacts-container {
    display: flex;
    width: 60%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;

    .contact-icon {
      color: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.3);
        color: #ffa201;
      }
    }
  }

  .gif-container {
    width: 70%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin-top: 30%;
    margin-left: 3%;

    .summary {
      width: 95%;
      padding: 1%;
      font-size: 1rem;
      text-align: justify;
      line-height: 30px;
    }

    .contacts-container {
      width: 90%;
      margin-left: 5%;
      align-items: center;
      justify-content: space-between;
    }

    .gif-container {
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    margin-top: 18%;

    .contacts-container {
      width: 90%;
      margin-left: 5%;
      align-items: center;
      justify-content: space-around;
    }
  }
}
