@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #202124;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  width: 90vw;
  margin: auto;
  opacity: 0.3;
}

section {
  padding: 2%;
}

.title {
  padding: 1%;
  font-size: 3rem;
  color: #fff;
}

.sub-title {
  padding: 1%;
  font-size: 1rem;
  color: #fff;
}


@media screen and (min-width: 425px) and (max-width: 768px)  {
  .title {
    font-size: 2.3rem;
  }
}